*{
    margin: 0px;
    padding: 0px;
    }
    .body{
    background-color:rgba(255, 255, 255, 0.986);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat';
    }
    .container{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }        
    .card{
    width: 480px;
    height: auto;
    border-radius: 7px;
    box-shadow: rgba(99,99,99,0.2) 0px 2px 8px 0px;
    display:flex;
    justify-content: center;
    padding: 20px 0;
    }
    .wrapper{
    width: 90%;
    display:flex;
    flex-direction: column;
    }
    .titleAndSubtitle{
    display: flex;
    flex-direction: column;
    padding-bottom: 15px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 20px;
    }
    .title{
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    }
    .subTitle{
    font-size:13px;
    font-weight:100%;
    color:black;
    }
    .cardForm{
    width: 100%;
    display:flex;
    flex-direction: column;
    }
    .mainLabelAndInput{
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    }
    .labelAndInput1{
    display:flex;
    margin: 8px 0;
    flex-direction: column;
    width: 100%;
    }
    .labelAndInput{
    display:flex;
    margin: 8px 0;
    flex-direction: column;
    width: 60%;
    }
    .label{
    font-size: 16px;
    font-weight: 800;
    margin-bottom: 5px;
    }
    .input{
    width: 97%;
    height: 35px;
    padding: 5px;
    font-size: 14px;
    font-weight: 450;
    border-radius: 4px;
    border: 2px solid lightgray;
    font-family: 'Montserrat';
    }
    .termsandagree{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    }
    .agree{
    margin-left: 5px;
    font-size: 13px;
    font-weight: 800;
    }
    .button{
    font-size: 13px;
    cursor: pointer;
    border: none;
    outline: none;
    height: 40px;
    color:white;
    border-radius: 5px;
    transition: all 660ms;
    font-family: 'Montserrat';
    }
    .button:hover{
    transform: scale(1.02);
    }